*{
  margin: 0;
  padding: 0;
  /* font-size: 62.5%; */
  /* font-family: 'Work Sans', sans-serif; */
  /* letter-spacing: 3px; */
}
.menu_desktop{
  display: none;
}
.boton_menu{
  display: flex;
  justify-content: center;
}
main{
  background-color: #04D9C4;
}
li{
  list-style-type: none;
}
footer div div div li img{
  height: 40px;
  width: 40px;
  object-position: center;
}
/* MENU DESPLEGABLE EN CASO DE QUE PANTALLAS CHICAS Y MENU NAVEGACION EN CASA DE PANTALLAS GRANDES */
@media screen and (min-width: 768px) {
  .menu_desktop{
    display: flex;
    justify-content: space-between;
  }
  .boton_menu{
    display: none;
}
}