*{
  margin: 0;
  padding: 0;
}

.menu_desktop{
  display: none;
}
.boton_menu{
  display: flex;
  justify-content: center;
}
li{
  list-style-type: none;
}
footer div div div li img{
  height: 40px;
  width: 40px;
  object-position: center;
}

@media screen and (min-width: 768px) {
  .menu_desktop{
    display: flex;
    justify-content: space-between;
  }
  .boton_menu{
    display: none;
}
