*{
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: 'Work Sans',sans-serif;
  letter-spacing: 3px;
  box-sizing: border-box;
}

/* ESTILO AL BODY GRAL */

body{
  display: flex;
  flex-direction: column;
  gap: 2 rem;
}

 /* ESTILO AL HEADER */
 .logo{
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}
.logo img{
  height: 100px;
}
 .menu{
   background-color: #04a595;
   padding: 0rem 4rem;
 }
 .menu ul{
   display: flex;
   padding: 10px 0px;
   text-transform: uppercase;
   font-weight:normal;
   font-size: 5rem;
   gap: 100px;
   align-items: center;
   justify-content:space-around;
 }
 .menu ul li{
   list-style-type: none;
   display: flex;
   align-items: center;
   padding: 0.5rem 0rem;
 
 }
 .menu ul li a{
   text-decoration:none;
   color: #fff;
  
 }
.imgportada{
  text-decoration: none;
  display: flex;
  height: 100vh;
  background-image: url(https://cdn.pixabay.com/photo/2015/12/08/00/26/desk-1081708_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}
.imgportada h1{
  font-size: 9rem;
  font-weight: lighter;

  }

/* ESTILOS AL MAIN */

main{
  height: 150vh;
  font-size: 6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0rem 2rem;
}
main .subtitulo h2{
  margin-bottom: 40px;
  font-size: 7rem;
  font-weight: normal;
}
main .subtitulo p{
  letter-spacing: 0px;
}

main .imgmodelos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  gap: 1rem;
  /* align-items: center; */
  
}

main .imgmodelos .carta-modelos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ad3bcd;
  gap: 2rem;
  padding: 3rem;
  color: #fff;
  align-items: center;
}
main .imgmodelos .carta-modelos h4{
font-size: 3rem;
text-transform: uppercase;
align-self: flex-start;
}
main .imgmodelos .carta-modelos p{
  font-size: 2rem;
  font-weight:lighter;
}
main .imgmodelos img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  /* max-height: 450px; */
  transition: transform 200ms, border 500ms;
}
main .imgmodelos img:hover{
  transform: scale(1.05);
  border: 1px solid #000;
}


footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 210, 112, 0.2);
  padding-top: 15px;
  background: linear-gradient(to bottom, #04a59500, #04a595);
  transition: background-color 400ms;
}
  footer:hover{
  background-color:#04D9C4;
}
footer h4{
font-size: 2.5rem;
text-align: center;
text-transform: uppercase;
font-weight:normal;
}
footer p{
  margin: 20px 0px;
  font-size: 2rem;
}

.footer__socialmedia ul{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  
}

.footer__mediosdepago ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
    list-style-type:none;
}
/* IMAGENES CHICAS DEL FOOTER */
.footer__socialmedia img {
  height: 22px;
}
.footer__mediosdepago img{
  height: 30px;
}