* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 2px; }

/* MENU DESPLEGABLE EN CASO DE QUE PANTALLAS CHICAS Y MENU NAVEGACION EN CASA DE PANTALLAS GRANDES */
.menu_desktop {
  display: none; }

.boton_menu {
  display: flex;
  justify-content: center; }

@media screen and (min-width: 768px) {
  .menu_desktop {
    display: flex;
    justify-content: space-between; }
  .boton_menu {
    display: none; } }

.main__medida {
  background-color: #04D9C4; }

.contacto {
  background-color: #04D9C4; }

.historia {
  background-color: #ad3bcdb1; }

.modelos img {
  height: 500px;
  width: 100%;
  object-position: center;
  object-fit: contain; }

.modelos {
  background-color: #04D9C4;
  transition: background-color 500ms; }

.modelos:hover {
  background-color: #ad3bcdb1; }

.promociones {
  background-color: #ad3bcdb1; }

/*FONDO FOTO LIVING SILLA */
.imagen_titulo {
  background-image: url(https://cdn.pixabay.com/photo/2015/12/08/00/26/desk-1081708_1280.jpg);
  background-position: bottom;
  background-size: cover;
  height: 500px; }

.novedad, .aviso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282727;
  padding: 20px 0px;
  border: 5px solid #ad3bcdb1; }
  .novedad__texto {
    color: #fff; }

.aviso {
  border: 5px solid #04D9C4; }
  .aviso__texto {
    color: #fff; }

.contenedor-imagen {
  height: 200px; }

main div img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: center; }

footer div div div li img {
  width: 40px;
  height: 40px;
  object-position: center; }

li {
  list-style-type: none; }

/* ESTILO A LAS CARTAS */
.cartas {
  background-color: #04D9C4;
  transition: background-color 500ms; }

.cartas img {
  border-radius: 10px;
  filter: grayscale(100%);
  transition: transform 200ms, background-color 500ms; }

.cartas img:hover {
  transform: scale(1.02);
  filter: grayscale(0%); }

.cartas:hover {
  background-color: #ad3bcdb1; }

/* IMAGENES EN COLORES CUANDO LA PANTALLA SEA CHICA */
@media screen and (max-width: 768px) {
  .cartas img {
    filter: grayscale(0%); } }

.footer__seccion-texto {
  font-weight: lighter; }
