*{
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 3px;
  box-sizing: border-box;
}

/* ESTILO AL BODY GRAL */

body{
 background: linear-gradient(to bottom, #75d3f5,#4660f2);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 display:flex;
 flex-direction: column;
 
}
   /* ESTILO AL HEADER */
   .logo{
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
  }
  .logo img{
    height: 100px;
  }
   .menu{
     background-color: #04a595;
     padding: 0rem 4rem;
   }
   .menu ul{
     display: flex;
     padding: 10px 0px;
     text-transform: uppercase;
     font-weight:normal;
     font-size: 5rem;
     gap: 100px;
     align-items: center;
     justify-content:space-around;
   }
   .menu ul li{
     list-style-type: none;
     display: flex;
     align-items: center;
     padding: 0.5rem 0rem;
   
   }
   .menu ul li a{
     text-decoration:none;
     color: #fff;
    
   }


/* ESTILOS AL MAIN */

main{
  
  /* grid-area: main; */

}
main h2{
  text-align: center;
  text-transform: uppercase;
  font-size: 6rem;
  margin: 30px;
  font-weight: 500;
}
main .modelos{
  display: grid;
  margin: 5rem;
  grid-template-rows: repeat(4, 500px);
  align-items: center;
  justify-content: center;
  gap: 10rem;
  grid-auto-flow: row;
  color: #fff;
}
main .modelos li{
  background: linear-gradient(to top, #ad3bcd00,#ad3bcd );
  width: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 3rem; 
}
main .modelos li h4{
  font-size: 2.5rem;
  font-weight:normal;
  text-transform: uppercase;
}
main .modelos li p{
font-size: 2rem;
font-weight: lighter;
}
main .modelos img{
  height: 300px;
  transition: transform 200ms, border 500ms;
}
main .modelos img:hover{
  transform: scale(1.05);
  border: #000 1px solid;
}
/* ESTILOS AL FOOTER */

footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 210, 112, 0.2);
  padding-top: 15px;
  background: linear-gradient(to bottom, #04a59500, #04a595);
  transition: background-color 400ms;
}
  footer:hover{
  background-color:#04D9C4;
}
footer h4{
font-weight:normal;
font-size: 2.5rem;
text-align: center;
text-transform: uppercase;
}
footer p{
  margin: 20px 0px;
  font-size: 2rem;
}

.footer__socialmedia ul{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  
}

.footer__mediosdepago ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
    list-style-type:none;
}
/* IMAGENES CHICAS DEL FOOTER */
.footer__socialmedia img {
  height: 22px;
}
.footer__mediosdepago img{
  height: 30px;
}